
<div class="container main-body">
    
    <div class="form-group">
        <label for="clientName">Enter Client name*</label>
        <input type="text" class="form-control" ng-model="clientName" placeholder="Client name" ng-change="onClientNameChange(clientName)"  aria-describedby="clientNameHelp"  />
    </div>
    <div>
        <button ng-click="getClientDetails()" class="btn btn-primary" type="submit">Submit</button> 
         <!--<a href="/default" role="button" class="btn btn-primary">Back to home</a>-->
    </div>

    
</div>